
#checkInBodyGrid {
  padding-top: 5%;
  z-index: 1;
}

.checkinBg {
  background-image: url('../../../images/loginBackground2.jpg');
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: .5;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

.checkInContainer {
  background-color: #F7F7F7;
  box-shadow: 0 0 5px 1px #555;
  opacity: .95;
}

.centerHeader {
  vertical-align:middle;
}

.questionnaireSegment {
  width: 100%;
}

.marginTop5 {
  margin-top: 5%;
}

.systemLabel {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

.marginBottom5p {
  margin-bottom: 5px;
}

#hpiSubmitButton {
  box-shadow: 0 0 5px 1px #555;
}

#rosSubmitButton {
  box-shadow: 0 0 5px 1px #555;
}

#finishedButton {
  box-shadow: 0 0 5px 1px #555;
}

#backCheckInButton {
  background-color: #F7F7F7;
  box-shadow: -1px 0px 5px 1px #555;
}

#nextCheckInButton {
  background-color: #F7F7F7;
  box-shadow: 1px 0px 5px 1px #555;
}

#ccSubmit {
  box-shadow: 0 0 5px 1px #555;
}
