
#physicianHomeBodyGrid {
  padding-top: 5%;
  z-index: 1;
}

.bg {
  background-image: url('../../../images/loginBackground2.jpg');
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: .5;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

.calendarContainer {
  box-shadow: 0 0 5px 1px #555;
}

.physicianHomeWhiteContainer {
  background-color: #FEFEFE;
  box-shadow: 0 0 5px 1px #555;
  opacity: 0.95;
}

.scrollablePtList {
    height: 255px;
    overflow-y: auto;
    overflow-x: hidden;
}

.selectedEncounter {
  background: #efefef;
  box-shadow: 0 0 5px 1px #555;
}

.listHeader{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.listHeader2{
  padding-bottom: 4px;
  padding-left: 5px;
}
